h1 {
    display: flex;
    color: antiquewhite;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-color: rgb(0, 0, 0)

}

p {
    color:rgb(190, 184, 176) ;
    font-family: Arial, Helvetica, sans-serif;
}